@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #27ae60;
  --main-bg-color: #eee;
  --second-color: #222;
  --white-color: #fff;
  --third-color:#333;
  --forth-color:#fff;
  --theme:rgb(0, 0, 0);
  --shadow:0 0.5rem 1rem rgb(33, 255, 13);
}
body.active {
  --green: blue;
  --main-bg-color: #222;
  --second-color: rgb(255, 255, 255);
  --white-color: #000;
  --third-color:#fff;
  --forth-color:#fff;
  --theme:rgb(255, 255, 0);
  --shadow:0 0.5rem 1rem rgb(13, 166, 255);
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: .5rem;
}